*{ padding: 0; margin: 0;}

html{ 
    font: {
        family: 'Microsoft YaHei';
        size: 14px;
    }
}

iframe{
    width: 100%;
    height: 100%;  
}

img{
    height: 100%;    
}

div{
    box-sizing: border-box;    
}

.container{
    margin: 180px auto;
    
    button{
        margin: 20px auto 0;    
        display: block;
        padding: 5px 10px;
        cursor: pointer;
    }
}

/*! 弹出层插件样式开始 */
@mixin radius_1($degrees){
    -webkit-border-radius: $degrees;
    -moz-border-radius: $degrees;
    -ms-border-radius: $degrees;
    -o-border-radius: $degrees; 
    border-radius: $degrees;
}
@mixin radius_2($direct, $degrees){
    -webkit-border-#{$direct}-radius: $degrees;
    -moz-border-#{$direct}-radius: $degrees;
    -ms-border-#{$direct}-radius: $degrees;
    -o-border-#{$direct}-radius: $degrees; 
    border-#{$direct}-radius: $degrees;
}
@mixin radius_3($vert, $horz, $degrees){
    -webkit-border-#{$vert}-#{$horz}-radius: $degrees;
    -moz-border-#{$vert}-#{$horz}-radius: $degrees;
    -ms-border-#{$vert}-#{$horz}-radius: $degrees;
    -o-border-#{$vert}-#{$horz}-radius: $degrees; 
    border-#{$vert}-#{$horz}-radius: $degrees;
}

@mixin transform($value){
    -webkit-transform: $value; /* Safari 和 Chrome */
    -moz-transform: $value;    /* Firefox */
    -ms-transform: $value;     /* IE 9 */
    -o-transform: $value; 
    transform: $value;
}

.floatBoxBg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 999;
}

.floatBox{
    background: rgb(255, 255, 255);
    position: absolute;
    z-index: 1000;
    border: 1px solid #e0e0e0;
    @include radius_3(top, left, 5px);
    @include radius_3(top, right, 5px);
    opacity: 0;
    //display: none;
    
    .title{
        background: #f7f7f7;
        height: 30px;
        padding: 6px 6px 4px 12px;
        color: #000;
        position: relative;
        border-bottom: 1px solid #e0e0e0;
        @include radius_3(top, left, 5px);
        @include radius_3(top, right, 5px);
        
        title{
            margin: 0;
            padding: 0;
            display: inline;
            font: {
                size: 12px;
                weight: bold;
            }
            line-height: 14px; 
        }
        
        .close{
            cursor: pointer;
            display: inline;    
            position: absolute;
            height: 15px;
            width: 15px;
            top: 8px;
            right: 8px;
            transition: all 0.15s linear;
            &:hover{
                @include transform(rotate(180deg));
            }
        }
    }
    
    .content{
        padding: 6px 12px 6px;
        overflow: hidden;
    }
}

.closeDialog{ 
    position: absolute;
    top: 12px;
    right: -12px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 100;
}

.closeDialog:hover{
    margin-top: -1px; 
    position: relative fixed absolute;
}
/*! 弹出层插件样式结束  */